.divprincipal{
    background-color: #ffffff;
}

.listaMenu{
    list-style-type: none;
    margin: 20px;
    margin-left: 20%;
    margin-top: 10px;
}

.listaMenu li img{
    width: 30px;
    height: 25px;
    margin-bottom: 25px;
    margin-top: 5px;
}

.listaMenu li{
    display: flex; 
}

.listaMenu p{
    font-size: 20px;
}

.button2 {
    margin-top: 20px;
    background-color: #1A8CD8; 
    color: black; 
    border: 2px solid #1A8CD8;
    border-radius: 25px;
    color: white;
    width: 150px;
    height: 40px;
}

.button2:hover {
    background-color: #1884cc;
}

